/* Customize your main colors in :root variables */
:root {
  --light-background-color: #2e3d4d;
  --main-background-color: #183048;
  --dark-background-color: #0a0e11;
  --title-text-color:#00e0eb;
}

.MuiTimelineConnector-root {
  background-color: var(--title-text-color) !important;
}

body{
background-color: var(--main-background-color);
  font-family: 'Patrick Hand', cursive;
  font-size: 1.1em;
}

h3{
font-weight: normal;
}



